'<ion-header>
  <ion-toolbar mode ="ios">
    <ion-title>
      {{ meal.name }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-outline" (click)="close()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="mealForm" (ngSubmit)="onChangeServings()">
    <ion-item lines="full">
      <ion-label>{{ "MEAL.LABEL_DIFFICULTY" | translate }}:</ion-label>
      <ion-img src="../../../assets/icon/hat.jpg" (click)="editDifficulty()" ></ion-img>
      <ion-img src="../../../assets/icon/hat.jpg" (click)="editDifficulty()" *ngIf="meal.difficulty == 'MIDDLE' || meal.difficulty == 'HARD'"></ion-img>
      <ion-img src="../../../assets/icon/hat.jpg" (click)="editDifficulty()" *ngIf="meal.difficulty == 'HARD'"></ion-img>
    </ion-item>

    <ion-item lines="full">
      <ion-label side="end">{{ "MEAL.LABEL_TIME" | translate }}:</ion-label
      ><ion-input readonly (click)="editTime()" [value]="time"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label>{{ "INGREDIENT.LABEL_SERVINGS" | translate }}:</ion-label>
      {{meal.servings}} &nbsp;
      <table>
        <tr>
          <td>
            <ion-icon name="chevron-up-outline" (click)="increaseServings()"></ion-icon>
          </td>
        </tr>
        <tr>
          <td>
            <ion-icon name="chevron-down-outline" (click)="decreaseServings()"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-item>
  </form>

  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ "MEAL.LABEL_INGREDIENTS" | translate }}
      </ion-label>
      <ion-button (click)="addNewIngredient()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item-sliding *ngFor="let ingredient of meal.ingredients">
       <ion-item lines="full" (click)="editIngredient(ingredient)">
        <ion-label>{{ ingredient.calculatedAmount }}&nbsp;{{ "UNIT." + ingredient.unit | translate}}</ion-label>
        {{ ingredient.name }}
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="deleteIngredient(ingredient)"
          ><ion-icon name="trash-outline"></ion-icon
        ></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button (click)="saveAndExit()">
    {{'GENERAL.LABEL_SAVE' | translate}}
  </ion-button>
</ion-footer>
<div *ngIf="overlay" class="overlay"></div>
