<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'GENERAL.LABEL_APP_TITLE' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="side-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-button (click)="chooseRandomRecipe()">Was kochen wir heute?</ion-button>
  <ion-list>
    <ion-item lines="full" (click)="onClickMeals()" detail="false">
      <ion-label>
        Gerichte
      </ion-label>
      <ion-icon name="fast-food-outline"></ion-icon>
      </ion-item>

      <ion-item lines="full">
        <ion-label>
          Einkaufsliste          
        </ion-label>   
        <ion-icon name="receipt-outline"></ion-icon>     
        </ion-item>
  </ion-list>

</ion-content>
