<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title> {{ 'GENERAL.LABEL_APP_TITLE' | translate }} </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="side-menu" class="white"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="chooseRandomRecipe()" class="random_button"
    >{{'HOME.BUTTON_RANDOM_MEAL' | translate}}</ion-button
  >
  <ion-list>
    <ion-item detail="false" routerLink="/meals">
      <ion-icon name="fast-food-outline" class="listIcons"></ion-icon>
      &nbsp; &nbsp; &nbsp;{{'HOME.MEALS' | translate}}
    </ion-item>

    <ion-item lines="none" routerLink="/grocery-list">
      <ion-icon name="receipt-outline" class="listIcons" ></ion-icon>
      &nbsp; &nbsp; &nbsp;{{'HOME.GROCERY_LIST' | translate}}
    </ion-item>
  </ion-list>
</ion-content>
