<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title> {{ 'GENERAL.LABEL_APP_TITLE' | translate }} </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="side-menu" class="white"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="chooseRandomRecipe()" class="random_button"
    >{{'HOME.BUTTON_RANDOM_MEAL' | translate}}</ion-button>
  

    <ion-item lines="full" routerLink="/meals" class="favoriteMeals">
      <ion-icon name="fast-food-outline" class="listIcons"></ion-icon>
        <ion-label>&nbsp; &nbsp; &nbsp;{{'HOME.MEALS' | translate}}</ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/grocery-list" class="groceryList">
       <ion-icon name="receipt-outline" class="listIcons" ></ion-icon>
       <ion-label>&nbsp; &nbsp; &nbsp;{{'HOME.GROCERY_LIST' | translate}} </ion-label>
    </ion-item>
</ion-content>
