ion-icon {
  font-size: 150%;
  color: #224200;
}

ion-button {
  --background: #224200;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

ion-content {
  align-items: center;
  text-align: center;
  align: center;
}


ion-button {
  text-transform: none;
}

ion-label{
  vertical-align: middle;
}

ion-icon{ 
  height: 100px;
}

.favoriteMeals{
  margin-top: 10%;
}

.delete {
  color: white;
}

.listIcons {
  color: #224200;
  font-size: 300%;
}

.white {
  color: white;
}

.random_button{
  margin-top: 10%;
}
